#map {
       height: 100%;
       width: 100%;
       position: relative;
       margin-bottom: 80px;
       overflow: hidden;
       }
body {
	position: relative;
    background-color: white;
    color: #2e3e48;
 }

#LogInButtons {
	color: #2e3e48;
	position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0%;
    background-color: white;
  	padding: 7px;
}

#Header {
  padding-top: 40px;
  padding-bottom: 10px;
  padding-left: 33%;
  width : 100%;
  color: white;
}

#Header h1{
	font-family: Franklin Gothic Medium, Franklin Gothic, ITC Franklin Gothic, Arial, sans-serif;
 	font-size: 50px;
	font-style: bold;
	font-variant: ;
	color: #2e3e48;
}

#Header h2{
	color: #f13a59;
	font-style: italic;
}

.title {
    color: grey;
    font-size: 18px;
}

.valid {
  color: green;
}

.valid:before {
  position: inherit;
  right: 15px;
  content: "✔";
}

.invalid {
  color: red;
}

.invalid:before {
  position: inherit;
  right: 15px;
  content: "✖";
}

#input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 100%;
}

input[type=text]:focus {
width: 100%;
}
}