#map {
       height: 400px;
       width: 100%;
       }
body {
  background-color: white;
  color: #2e3e48;
  font-family: "Graphik Meetup",helvetica,arial,sans-serif;
 }

#LogInButtons {
  font-size:13px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
	color: #2e3e48;
	position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0%;
  background-color: white;
  padding: 3px;
}

#Header {
	margin: auto;
	width: 60%;
}

#Header h1{
	font-family: Franklin Gothic Medium, Franklin Gothic, ITC Franklin Gothic, Arial, sans-serif;
 	font-size: 50px;
	font-style: bold;
	font-variant: ;
	color: #f13a59; 
}

#id01 {
  
}

footer{
	background-color:#00a2c7;

}
