#map {
       height: 400px;
       width: 100%;
       }
body {
	position: relative;
    background-color: white;
    color: #2e3e48;
 }

#LogInButtons {
	color: #2e3e48;
	position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0%;
    background-color: white;
  	padding: 7px;
}

#Header {
	margin: auto;
	width: 60%;
}

#Header h1{
	font-family: Franklin Gothic Medium, Franklin Gothic, ITC Franklin Gothic, Arial, sans-serif;
 	font-size: 50px;
	font-style: bold;
	font-variant: ;
	color: #2e3e48; 
}

#Header h2{
	color: #f13a59;
	font-style: italic;
}
#cards {

}

#cards h1{
	color:#f13a59;
}

#cards button{
	margin: 20px 20px 20px 20px;
	opacity: 0.7;
}
#cards a{
    text-decoration: none;
    font-size: 22px;
    color: black;
}
.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
}

.title {
    color: grey;
    font-size: 18px;
}

footer{
	background-color:#00a2c7;

}
