body {
	background-color: azure;
	border:5px solid red;
}

h1 {
	color: seagreen;
	font-family: 'Baloo Paaji', cursive;
	margin: 6px 0;
	font-size: 24px;
}

#bar1{
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
    position: fixed;
    top: 15px;
    left: 1320px;
}

#bar2{
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
    position: fixed;
    top: 25px;
    left: 1320px;
}

#bar3{
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
    position: fixed;
    top: 35px;
    left: 1320px;
}

#accountIcon {
	width: 28px;
	height: 25px;
	border-radius: 25px;
	border: 2px solid black;
	background-color: slategrey;
	margin: 6px 0;
	position: fixed;
    top: 20px;
    right: 580px;
}

div {
	background-color:slateblue;
	border:0px solid black;
}

ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	background-color: slateblue;
}

li a {
	display: inline;
	float: left;
	font-size: 150%;
	color: gainsboro;
	margin: 0px;
	padding: 0px;
	text-decoration: none;
	font-family: "Arial";
}

li a:hover {
    background-color: lightgray;
    color: black;
}
